<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxy.test.dao.EmployeeMapper">
<!-- namespace的名称空间
    id 标签的唯一标示
-->
    <select id="getEmployeeById" resultType="com.zxy.test.pojo.Employee">
    select id ,last_name lastName,email,gender from tbl_employee where id = #{id}
  </select>
</mapper>